<!DOCTYPE html>
<html>
	<head>
		<title> client server socket server </title>
		<script src="{{ url_for('static', filename='index.js') }}">
		</script>
	</head>
	<body>
		<h1> Current votes Display kiosk</h1>
		
		<ul id='list_item_display kiosk'>
			<li> Yes: {{ yes_count }} </li>
			<li> No: {{ no_count }} </li>
			<li> Maybe: {{ maybe_count }} </li>
		</ul>
		<button id='btn1' data-content='yes'> Yes </button>
		<button id='btn2' data-content='no' > NO </button>
		<button id='btn3' data-content='maybe'> Maybe </button>

	</body>
</html>


